location_id,name
1,Unknown Location
2,Blantyre District Hospital
3,Queen Elizabeth Central Hospital
4,Zomba Central Hospital
5,Lilongwe Central Hospital
6,Kamuzu Central Hospital
7,Mzuzu Central Hospital
8,Chiradzulu District Hospital
9,Mulanje District Hospital
10,Thyolo District Hospital
