drug_id,name
1,Paracetamol 500mg
2,Amoxicillin 250mg
3,Cotrimoxazole 480mg
4,TDF/3TC/DTG (300/300/50mg)
5,Isoniazid 300mg
6,Rifampicin 150mg
7,Pyrazinamide 500mg
8,Ethambutol 400mg
9,Nevirapine 200mg
10,Zidovudine 300mg
11,Lamivudine 150mg
12,Efavirenz 600mg
13,Atazanavir 300mg
14,Ritonavir 100mg
15,Lopinavir/Ritonavir 200/50mg
