concept_id,name
849,Urinary albumin
850,ALP
851,Mean corpuscular volume
851,MCV
852,"Ultrasound, hepatic"
852,Heaptic ultrasound
853,CD8 count
853,CD8
854,CD4/CD8
855,Erythrocyte sedimentation rate
856,HIV viral load
856,Viral load
857,Blood urea nitrogen
857,UREA
857,Blood urea
857,BUN
858,ZN stain
859,Congestion
860,Neck pains
861,Hearing difficulties
862,P.V. discharge
863,Itching
864,Genital sores
864,Genital ulcers
865,Throat painful
865,Sore throat
