immunization_stats_midnight_refresh:
  cron: "0 0 * * *"
  class: "ImmunizationMidnightRefreshJob"
  queue: "default"
  description: "Refreshes the immunization stats at midnight"
flag_potential_duplicates:
  cron: "0 0 * * *"
  class: "FlagPotentialDuplicatesJob"
  queue: "default"
  description: "Flags potential duplicates at midnight"

batch_sync_job:
  cron: "0 0 2 * * *" # At 2:00 AM daily
  class: "BatchPatientSyncJob"
  args: [null, "Time.now.beginning_of_hour - 30.hours"]
  queue: "batch_sync"

incremental_sync_job:
  cron: "0 * * * *" # Every hour
  class: "BatchPatientSyncJob"
  args: [null, "Time.now.beginning_of_hour - 2.hours"]
  queue: "batch_sync"

ncd_active_patients_for_each_facility:
  cron: "0 0 1 * * *" # At 1:00 AM daily
  class: "NcdActiveClientsJob"
  args: [null, "Time.now.beginning_of_hour - 2.hours"]
  queue: "ncd_active_patients"
  description: "Find all NCD active patients for each facility"

# notifiable_disease_job:
#   cron: "* * * * *"  # Every minute
#   class: "ScriptRunner"
#   args: ["bin/idsr/notifiable_disease_conditions_report.rb"]
#   queue: "default"
