immunization_stats_midnight_refresh:
  cron: "0 0 * * *"
  class: "ImmunizationMidnightRefreshJob"
  queue: "default"
  description: "Refreshes the immunization stats at midnight"
flag_potential_duplicates:
  cron: "0 0 * * *"
  class: "FlagPotentialDuplicatesJob"
  queue: "default"
  description: "Flags potential duplicates at midnight"

dde_ids_sync_job:
  cron: "*/15 * * * *" # every 15 minutes
  class: "Sync::DdeIdsSyncJob"
  queue: default

referral_status_retry_job:
  cron: "*/15 * * * *" # every 15 minutes
  class: "ReferralStatusRetryJob"
  queue: default
  description: "Retries MAHIS -> iCHIS referral status updates for recent referrals"

# notifiable_disease_job:
#   cron: "* * * * *"  # Every minute
#   class: "ScriptRunner"
#   args: ["bin/idsr/notifiable_disease_conditions_report.rb"]
#   queue: "default"
